.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #e6f9f0; /* Light green background */
}

.welcome-title {
  color: #145a32; /* Dark green */
  font-size: 3rem;
  margin-top: 2rem;
  font-family: 'Arial', sans-serif;
}

.bubbles-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 50px;
}

.bubble {
  width: 80px;
  height: 80px;
  background-color: rgba(34, 153, 84, 0.5); /* Transparent green */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.bubble:hover {
  transform: scale(1.1);
  background-color: rgba(34, 153, 84, 0.7);
}
